.slider {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: 50vh;
}


.slider_slide > img {
    width: 100%;
}

.slider_track-container {
    background-color: grey;
    padding: 10px;
    height: 100%;
}


.slider_track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider_slide {
    position: absolute;
    top: 0; 
    bottom: 0;
    width: 100%;
}